* {
	border: none;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}

/* Navigation */

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 74px;
	background: #eff1f4;
	color: #27366a;
	padding: 10px 0px 10px 0px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#nav-logo {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 28px;
}

.nav-links {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color: #27366a;
}

nav a:visited {
	text-decoration: none;
}

#nav-buy-now {
	background: #ff4662;
	padding: 15px 50px;
	border-radius: 45px;
	margin-left: 30px;
	letter-spacing: inherit;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	transition: 0.3s;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	float: right;
}

#nav-buy-now:hover {
	color: black;
	transition: 0.3s;
}

/* End Navigation */

/* Carousel Home */

.carousel-home {
	width: 100%;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
